# PyCharm specific files
.idea

# Python compiled bytecode
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS specific files
.DS_Store

# Virtualenv
venv/

# Dataset
dataset/

# Don't ignore sources datasets
!src/dataset/
